.acs-tiles-wrap {
    position: relative;
    text-align: center;
    zoom: 1;
}
.acs-tiles-wrapfix {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    min-width: 770px;
    max-width: 1070px;
    font-family: arial, sans-serif !important;
    font-size: 13px !important;
    color: #333333;
}
.acs-category-tile {
    position: relative;
    width: 33%;
    height: 165px;
    float: left;
}
.acs-category-tile-links a {
    font-family: arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 17px !important;
    font-weight: normal !important;
    color: #007eb9 !important;
    text-decoration: none !important;
    margin-left: 0px;
}
.acs-category-tile-links p {
    line-height: 19px;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 7px;
}
.acs-category-tile-links a:hover {
    color: #e47911 !important;
    text-decoration: underline !important;
}
.acs-category-tile-links.blackcoloredlinks a {
    color: #333333 !important;
}
.acs-category-tile-header a, .acs-category-tile-header span {
    font-family: arial, sans-serif !important;
    font-size: 17px !important;
    line-height: 21px !important;
    font-weight: bold !important;
    color: #333333 !important;
    text-decoration: none !important;
    display: block;
    margin-left: 0 !important;
    text-transform: none;
    padding: 8px 0 10px 5px;
}
.acs-category-tile-header a:hover {
    color: #333333 !important;
    text-decoration: none !important;
}
.acs-category-tile-header .normalfontweight {
    font-weight: normal !important;
}
.acs-tiles-row {
    width: 100%;
    height: 165px;
    display: block;
    margin-bottom: 25px;
    clear: both;
}
.acs-category-tile-shopall {
    margin-top: 6px;
    margin-left: 7px;
}
.acs-category-tile-shopall a {
    font-family: arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 19px !important;
    font-weight: normal !important;
    color: #007eb9!important;
    text-decoration: none !important;
    display: inline-block;
    position: relative;
}
.acs-category-tile-shopall a:hover {
    color: #e47911 !important;
    text-decoration: underline !important;
}
.acs-category-tile-shopall a:after {
    pointer-events: none;
    content: "";
    display: inline-block;
    position: absolute;
    width: 3px;
    right: -7px;
    top: 50%;
    height: 6px;
    margin-top: -3px;
    background-position: -346px -86px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0004-1x._V372619645_.png");
    background-repeat: no-repeat;
    background-size: 400px 600px;
    -webkit-background-size: 400px 600px;
    display: inline-block;
    vertical-align: top;
}
.acs-category-tile-shopall a:hover:after {
    background-position: -346px -101px;
}
.acs-category-tile-shopall.blackcoloredlinks a:after {
    background-position: -367px -86px;
}
.acs-category-header {
    display:block;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.acs-category-header.acs-header-noborder {
    border-bottom: 0;
}
.acs-category-header h2 {
    font-family: arial, sans-serif !important;
    font-size: 21px !important;
    line-height: 21px !important;
    font-weight: bold !important;
    color: #333333 !important;
    display: block;
    border: none !important;
    margin-top: 0 !important;
}
.acs-ux-c1 {text-align: left;}
.acs-ux-c2 {text-align: center;}
.acs-ux-c3 {text-align: right;}
.acs-ux-innerc1 {
    text-align: left;
    float: left;
    width: 240px;
    height: 165px;
}
.acs-ux-innerc2 {
    text-align: left;
    margin: 0 auto;
    width: 240px;
    height: 165px;
}
.acs-ux-innerc3 {
    text-align: left;
    float: right;
    width: 240px;
    height: 165px;
}
.acs-category-tile-links ul {
    margin: 0 !important;
    padding: 0 !important;
}
.acs-category-tile-links ul li{
    margin: 0 0 0 7px !important;
    padding: 0 !important;
    list-style: none !important;
}