@charset "utf-8";
/* CSS Document */

p {
 font-family: Arial, sans-serif;
 font-weight: bold;
 font-size: 24px;
 color: crimson;
}
p.copy {
 font-style: italic;
}
p.copy,p#footer{
	line-height: 2em;
}
p#footer {
 font-size: 12px;
 font-family: Helvetica, Arial, sans-serif;
}